{% extends 'base.html' %}

{% block content %}

    <h1>
        AidePlus - automatic labeling of datasets
    </h1>

    <p>
        By downloading the following software you agree with our licence and agreement terms
        which are summarized below
    </p>

    <ul>
        <li>
            No commercial use - for testing only. You can reach us for a commercial licence.
        </li>
        <li>
            In order to let us know our model performance, you agree to let us collect anonymous
            and data agnostic metrics such as the numbers of rows and columns of
            your dataset, the number of iterations before you are satisfied with the model.
        </li>
    </ul>

    <p>
        Getting started
    </p>

    <ul>
        <li>
            <a href="/get-aide-plus/download">Download</a> and unzip the software
        </li>
        <li>

            The software requires Java. You can either launch it with:

            <pre>

    java -jar package.jar
            </pre>

            or with docker:

            <pre>

    docker build . -t aideplus && docker run aideplus
            </pre>
        </li>

        <li>
            <span class="token">Enter your user token <strong>{{ token }}</strong> and start using the software</span>
        </li>


    </ul>

{% endblock %}